/* slide content */
.remark-slide-content {
  background-color: #eceff4;
  color: #3b4252;
  line-height: 1em;
  /*box-sizing: border-box;*/
  height: 100vh;
  font-size: 2em;
  overflow: visible !important;
  min-height: 60vh;
  padding: 1em;
}


/* level one header */
.remark-slide-content h1 {
  font-size: 0.7em;
  font-weight: normal;
  color: #4c566a;
  margin-bottom: 0.8em; /* spacing below */
  position: absolute;
  top: 0;
  left: 0; /* Ensure it starts from the very left */
    width: 100%;
  padding: 0em 0.5em;
  z-index: 1000;
}

/* level two header */
.remark-slide-content h2 {
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
  color: #3b4252;
  margin-bottom: 1em; /* spacing below */
}

strong { color: #2e3440; }
em { color: #000000; }

a {
  text-decoration: none;
  color: #b48ead;
  border-bottom: 1px dashed #b48ead;
}

a:visited { color: #b48ead; }
a:hover, a:active, a#active {
  color: #a3be8c;
  border-bottom-color: #a3be8c;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-family: 'Droid Serif', serif;
}

th, td {
  border: 1px solid #d8dee9;
  padding: 0.6em 0.8em;
  text-align: left;
}

th {
  background-color: #d8dee9;
  color: #2e3440;
}



.small-text {
  font-size: 0.8em;
}


/* Footnote style */
.footnote {
  font-size: 0.6em;
  color: #5e81ac;
  line-height: 1em;
  margin-top: 0em;
  position: absolute;
  bottom: 0;
  width: 80%;
  text-align: left;
  border-top: 1px solid #5e81ac; /* Thin horizontal line */
  padding-top: 0em; /* Space between the line and text */
}



/* LAYOUT CLASSES */

/* Two-column layouts */
.left-column  { width: 49%; float: left}
.right-column { width: 49%; float: right; }

.left-column-33  { width: 33%; float: left; }
.right-column-66 { width: 66%; float: right; }

.left-column-66  { width: 66%; float: left; }
.right-column-33 { width: 33%; float: right; }

.right-column ~ * { clear: both; }

.right-column-33 ~ * { clear: both; }

.right-column-66 ~ * { clear: both; }


/* Four-quadrant layouts */
.quadrant-1 {
  width: 50%;
  height: 50%;
  float: right;
}

.quadrant-2 {
  width: 50%;
  height: 50%;
  float: left;
}

.quadrant-3 {
  width: 50%;
  height: 50%;
  float: left;
  clear: left;
}

.quadrant-4 {
  width: 50%;
  height: 50%;
  float: right;
  clear: right;
}


.header {
  position: absolute;
  top: 0;
  left: 0; /* Ensure it starts from the very left */
  width: 100%;
  padding: 0.5em 1em;
  z-index: 1000;

  font-size: 0.7em;
  font-weight: normal;
  color: #4c566a;
  margin-bottom: 0.8em; /* spacing below */
}